.social-icons {
  display: flex;
  justify-content: left;
}

.social-icons__link {
  padding-top: 1.2rem;

  &:not(:last-child) {
    margin-right: 1em;
  }
  
  .social-icons__icon {
    width: 1.4rem;
    height: 1.4rem;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
