
// dot color
$highlightcolor: #317873;
$tagcolor: #9b9b9b;
$scale: 1.414;
$black: #000;

.fancy {
   color: $highlightcolor;
}

//link colors
a { 
   color: $highlightcolor;
   text-decoration: underline;
   &:hover {
     color: $highlightcolor;
     text-decoration: none;
   }
   &.active {
     color: black; 
   }
}

//desktop nav customization
.nav { 
   font-size: $scale  * 1rem;
   font-weight: 500;
   line-height: 1.25;
   max-width: 32em;
   letter-spacing: 0.03em;
   padding-top: 2.5em;
  
//border-right: groove;
   margin-left:1em;
//   padding-right:1em;
// padding-left: 1em;
} 

.nav__list { 
  padding-right: 15px;
  border-right: groove;
}

//buger nav customization 
.burger__meat {
   background: $highlightcolor;
}
//nav link colors
 .nav__list a { 
  color: $highlightcolor; 
  text-decoration: none; 
  &.active {
    color: $black;
  } 
  &:hover { 
    color: $black;
   
  } 
}
//post title list customization
.post__title a{ 
  color: $highlightcolor; 
  text-decoration: none; 
  &.active {
    color: $black;
  } 
  &:hover { 
    color: $black;
   
  } 
}

//tag link customization
.tag__link { 
  color: $tagcolor; 
  text-decoration: none; 
  &:active {
    color: $black;
  } 
  &:hover { 
    color: $black; 
  } 
}

.tag__header { 
  a, 
  .seprarator { 
    color: $tagcolor;
  &:hover { 
    color: $black;
 }
  }
} 

