
{{ define "styles" }}
    {{ $.Scratch.Set "style_opts" (dict "src" "scss/pages/post.scss" "dest" "css/post.css") }}
    
{{ end }}

{{ define "main" }}
    {{ $dateFormat := .Site.Params.dateFormat | default "Jan 2 2006" }}

    <div class="flex-wrapper">
      <div class="post__container">
        <div class="post">
          <header class="post__header">
	    <h1>{{ .Params.heading }}</h1>            
<h1 id="post__title">{{.Title}}</h1>
          <h2> 
   	    {{ .Params.subheading }}
          </h2> 
           
          </header>
          <article class="post__content">
              {{ partial "anchored-headings.html" .Content }}
        
          </article>
          {{ partial "tags.html" .}} {{ partial "post-pagination.html" .}}
<!--post list --> 
<div class="post-list__container">
  <div class="post-list">
    {{ range (.Paginator 4).Pages }}
    <section class="post">
      <div class="post__header">
                <h2 class="post__title">
          <a href="{{.RelPermalink}}">{{ .Title }}</a>
        </h2>
<time class="post__date" datetime="{{ .Date }}"
          >{{ .Date.Format $dateFormat }}</time>
        {{ partial "tags.html" .}}
      </div>
    </section>


    {{ end }}
    <div class="blog_pagination__container">{{ partial "pagination.html" .}}</div>
  </div>
  
</div>          

 </div>

          <footer class="post__footer">



{{ end }}
