{{ define "styles" }}
    {{ $.Scratch.Set "style_opts" (dict "src" "scss/pages/posts.scss" "dest" "css/posts.css") }}
   
   
{{ end }}

{{ define "main" }}
    
{{ $dateFormat := .Site.Params.dateFormat | default "Jan 2 2006" }}    

<div class="post-list__container">
  <ul class="post-list">
      
      {{ range $taxonomy_term, $taxonomy := .Site.Taxonomies }}
          {{ with $.Site.GetPage (printf "/%s" $taxonomy_term) }}
                      {{ range $key, $value := $taxonomy }}
                          <h2><div id="{{ $key }}">🏷️ {{ $key }}</div></h2>
                              {{ range $value.Pages }}
                              <li class="post"></li>
                                    <div class="post__header">

                                    <h2 class="post__title">
                                    <a href="{{.RelPermalink}}">{{ .Title }}</a>
                                    </h2>
                                    <time class="post__date" datetime="{{ .Date }}">{{ .Date.Format $dateFormat }}</time>

                                  </div>
                                </li>
                              {{ end }}
                      {{ end }}
          {{ end }}
      {{ end }}
      
  </ul>
</div>
</div>
{{ end }}